<div class="example-card">
	<mat-toolbar color="primary">
		<span>Angular component</span>
		<!-- <span class="example-spacer"></span>
		<button mat-icon-button>
			<mat-icon>code</mat-icon>
		</button> -->
	</mat-toolbar>
	<mat-card>
		<mat-card-header>
			<mat-card-title>Angular card</mat-card-title>
			<mat-card-subtitle>This card is in angular component</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>Below text is controlled by angular component variable.</p>
			<h1>{{ testVar }}</h1>
			<button mat-raised-button color="primary" (click)="setText('This text is set from Angular component.')">Angular button</button>
		</mat-card-content>
	</mat-card>
</div>